/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .e-h1 a {
	background-image:url(images/h1.png); 
}
.markItUp .e-h2 a {
	background-image:url(images/h2.png); 
}
.markItUp .e-h3 a {
	background-image:url(images/h3.png); 
}
.markItUp .e-h4 a {
	background-image:url(images/h4.png); 
}
.markItUp .e-h5 a {
	background-image:url(images/h5.png); 
}
.markItUp .e-h6 a {
	background-image:url(images/h6.png); 
}

.markItUp .e-b a {
	background-image:url(images/bold.png);
}
.markItUp .e-i a {
	background-image:url(images/italic.png);
}

.markItUp .e-ul a {
	background-image:url(images/list-bullet.png);
}
.markItUp .e-ol a {
	background-image:url(images/list-numeric.png);
}

.markItUp .e-picture a {
	background-image:url(images/picture.png); 
}
.markItUp .e-link a {
	background-image:url(images/link.png);
}

.markItUp .e-quotes a	{
	background-image:url(images/quotes.png);
}
.markItUp .e-code a	{
	background-image:url(images/code.png);
}

.markItUp .e-preview a {
	background-image:url(images/preview.png);
}

.markItUp .e-headmenu a {
	background-image:url(images/h1.png);
}

.markItUp .e-upload a {
	background-image:url(images/upload.png);
}
