html, head, body, form, table, thead, tbody, th, tr, td, div, p, a, ul, ol, li, p, h1, h2, h3, h4 {margin: 0;padding: 0;}
ul li {list-style-type: none;}
.clear {clear: both; margin-bottom: 10px;}
.white {color: white;}
.left {float: left;}
.right {float: right;}
.width100 {width: 100%;}
.width99 {width: 99%;}
.hide {display: none;}

.page_bar a {padding: 2px;}
.page_focus {background: #000; color: white;}
#msg {clear: both; width: 100%;}
#footer {height: 100px; padding: 20px; margin: 20px 0;}
