form id='upload'
	input type='file' name="upload"
	input type='submit'
div#progressbar

javascript:


	$('form#upload').submit(function(){

		var formData = new FormData($('#upload')[0]);

		$.ajax({

			url : '/upload',

			type: 'post',

			xhr: function() {
				myxhr = $.ajaxSettings.xhr();
				if (myxhr.upload) {
					myxhr.upload.addEventListener('progress', function(e){
						var done = e.position || e.loaded, total = e.totalSize || e.total;
           				var progressbar = 'xhr.upload progress: ' + done + ' / ' + total + ' = ' + (Math.floor(done/total*1000)/10) + '%';
						$('#progressbar').text(progressbar);
					}, false);
				}
				return myxhr;
			},

			success: function(data) {
				alert(data);
			},

			error: function(xhr, status, err) {
				alert(xhr.responseText);
				alert(status)
				alert(err);
			},

			data: formData,

			cache: false,

			contentType: false,

			processData: false

		}, 'join');

		return false;

	});

