#status_bar {
	padding: 5px 0;
	background-color: #000;
}
#status_bar a {
	text-decoration: none;
	padding: 10px;
}
#status_bar a:link { color: #fff; }
#status_bar a:visited { color: #fff; }
#status_bar a:hover {
	color: #000;
	background-color: #fff;
}

#status_bar .focus a {
	color: #000;
	background-color: #fff;
}
#description, #opt, #msg { padding: 0 10px; }

.white { color: white; }
.left { float: left; }
.right { float: right; }

.ul {
	padding: 0;
	margin: 0;
}
.ul li {
	padding-bottom: 5px;
}

.ul-1 {
	padding: 0;
	margin: 5px 10px 10px 5px;
	list-style-type: none;
	float: left;
	border: 1px solid #cccccc;
}

.ul-1 h4 {
	padding: 2px;
	margin: 0;
	background-color: #f5f5f5;
}

.ul-1 li {
	padding: 2px;
	margin: 0;
}
