#top_menu {
	padding: 5px 0;
	background-color: #000;
}
#top_menu a{
	text-decoration: none;
	padding: 10px;
}
#top_menu a:link { color: #fff; }
#top_menu a:visited { color: #fff; }
#top_menu a:hover {
	color: #000;
	background-color: #fff;
}

#top_menu .focus a{
	color: #000;
	background-color: #fff;
}
#opt { padding: 0 10px; }
